/* main styles */
body {
	margin:0;
	padding:0;
	background:#BBD9EE;
background:#EBEBEB;
  	color:#000;
	font-family:tahoma,arial,sans-serif;
	font-size:12px;
	}
form {
	margin:0;
	padding:0
	}
img {border:none;}
a {color:#060606;text-decoration: none}
a:hover {text-decoration: underline}
input {vertical-align:middle}
.floatleft {float:left !important}
.floatright {float:right !important}
.clear {clear:both !important}
.bold {font-weight:bold !important}
.normal {font-weight:normal !important}
.block {display:block !important}
input.text,
select,
textarea {
	font-family:arial,sans-serif;
	color:#333;
	font-size:12px;
	vertical-align:middle;
	}
input.text {
	padding:1px 0 0 4px;
	height:14px;
	font-weight:normal;
	}
/* main container */
#main {
	width:992px;
	margin:0 auto;
	}
/* header */
#header {
	position:relative;
	width:976px;
	height:106px;
        text-align: center;
	}
/* site logo */
a.logo {
/*	position:absolute;*/
	top:10px;
        margin-top:20px;
	margin-left:20px;
        float:left;
	font-size: 20pt;
        display: block;
	}
	
/* header tabs */
#top-navigation {
	position:absolute;
	top:73px;
	left:20px;
	margin:0;
	padding:0;
	list-style:none;
	}
#top-navigation li {
	float:left;
	margin:0 4px 0 0;
	height:34px;
	}
#top-navigation li a {
	float:left;
	display:block;
	height:20px;
	line-height:19px;
	margin-top:9px;
	color:#606060;
	padding:4px 10px 0 10px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	background:#c5d2dc;
}
#top-navigation li a:hover {
	border:1px #43729F solid;
	border-bottom: none;
	background:#fff;
	margin: 8px -1px;
}
#top-navigation li a.active {
	padding:6px 10px 0 10px;
	height:27px;
	border:1px #43729F solid;
	border-bottom:none;
	margin:0;
	background:white;
	}

/* middle */
#middle {
	float:left;
	width:973px;
	background:#fff;
	border: 1px solid #43729F;
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-box-shadow: 3px 3px 9px #666;
	-webkit-box-shadow: 3px 3px 9px #666;
	box-shadow: 3px 3px 9px #666;
	padding:10px 0 0 0;
	}
/* left column */
#left-column {
	float:left;
	padding:1px 14px 0 12px;
	width:151px;
	}
/* right column */
#quick-info {
	float:left;
	padding:0 9px 0 0;
	padding:1px 14px 0 0;
	width:151px;
	}
/* center column */
#center-column, #login-right-column {
        float:left;
	width:747px;
	background:url(../img/bg-center-column.jpg) top left no-repeat;
        /*background-size: 100%;*/        
	background:-webkit-gradient(
		linear,
		left top,
		right bottom,
		color-stop(0, rgb(221,221,221)),
		color-stop(0.5, rgb(255,255,255))
	);
	background:-moz-linear-gradient(
		left top, 
		rgb(221,221,221) 0%,
		rgb(255,255,255) 50%
	);
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	min-height:584px;
	padding:12px 16px 0 13px;
	}	
* html #center-column {height:584px;}

#login-left-column {
    width: 615x;
    float: left;
    padding-left: 20px;
}

#login-right-column {
    width: 285px;
    margin: auto;
    min-height: 0;
    height: 247px;
    padding: 20px 25px 15px;
    float: right;
    border-width: thin;
    border-style: solid;
    border-color: #666;
}

#login-right-column .input {
    clear: both;
    width: 100%;
}

#login-right-column label {
    width: 100%;
    margin-bottom: 4px;
}    

#login-right-column input[type=submit] {
    width: 60px;
}

#login-container {
    clear : both;
    
	float:left;
	width:973px;    
}

/* footer */
#footer {
        margin-top: 10px;
        margin-bottom: 20px;
	float:left;
	width:100%;
	height:15px;
        padding-left: 20px;
	}
#footer p {
	margin: 10px;
	}

        #footer .floatright {
            margin-right: 50px;
        }        
        
/* left column styles */
#left-column a {color:#3E3E3E;}
#left-column h3 {
	font-size:11px;
	margin:0;
	color:#fff;
	background:#ff9500;
	background: #43729F;
	/*background:-webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, rgb(255,149,0)),
		color-stop(1, rgb(255,111,0))
	);
	background:-moz-linear-gradient(
		center top,
		rgb(255,149,0) 0%,
		rgb(255,111,0) 100%
	);*/
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	height:25px;
	line-height:23px;
	padding:0 0 0 9px;
	}
ul.nav {
	margin:0 0 11px 0;
	border-bottom:2px solid #43729F;
	background:#ECEFE7;
	list-style:none;
	padding:0 2px;
	}
ul.nav li {
	padding:4px 4px 6px 5px;
	border-bottom: 1px #666 dashed;
	}
ul.nav a {
	padding:0 0 0 12px;
	background:url(../img/arrow.gif) no-repeat 0 4px;
	}
ul.nav a:hover {
	font-weight:bold;
	}
ul.nav li:last-child {border:none;}

#left-column a.link {
	display:block;
	width:142px;
	height:25px;
	background:#c7cdbe;
	background:-webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, rgb(235,239,227)),
		color-stop(1, rgb(199,205,190))
	);
	background:-moz-linear-gradient(
		center top,
		rgb(235,239,227) 0%,
		rgb(199,205,190) 100%
	);
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	margin:0 0 4px 0;
	font-weight:bold;
	padding:0 0 0 9px;
	line-height:25px;
	color:#60635A;
        float:left;
	}
	
/* center column styles */
.top-bar {
	float:left;
	width:738px;
	border-left:2px solid #43729F;
	padding:0 0 0 9px;
	margin:0 0 4px 0;
	}
/* text page header */
.top-bar h1 {
	font:20px/21px verdana,sans-serif;
	color:#43729F;
	margin:0 0 4px 0;
	}
/* orange button */
.top-bar a.button {
	float:right;
	display:block;
	height:15px;
	text-align:center;
	color:#fff;
	text-transform:uppercase;
	font-weight:bold;
	padding:10px;
	background: #ff6f00;
	background: #43729F;
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	}

        .actions ul {
            list-style-type: none;
            display: inline;
        }        
        
.actions ul li a.button {
	display:inline;
	height:15px;
	text-align:center;
	color:#fff;
	text-transform:uppercase;
	font-weight:bold;
	padding:10px;
	background: #ff6f00;
	background: #43729F;
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	}
        
        
/* bar with select */
.select-bar {
	clear:both;
	border-top:2px solid #43729F;
	border-bottom:2px solid #43729F;
	padding:5px 0 3px 0;
	margin:0 0 17px 0;
	}
.select-bar select {width:145px;margin:0 2px;}

/* table container */
div.table {
	float:left;
	position:relative;
	width:747px;
	margin:0 0 37px 0;
	}
table.listing {
	border-bottom:1px solid #9097A9;
	background:#9097A9;
	width:746px;
	padding:0;
	margin:0;
	border:1px solid #9097A9;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	}
table.listing th {
	border-top:0 !important;
	}

table.listing th.full {border-left:0;border-right:0 !important;text-align:left;text-transform:uppercase;}
/* table styles */
table.listing td,
table.listing th {
	border:1px solid #fff;
	text-align:center;
	}	
table.listing th {
	/*background:#9097A9;*/
	color:#fff;
	padding:5px;
	}
table.listing td {
	background:#D8D8D8;
	color:#000;
	padding:3px 5px;
        text-align: left;
	}
table.listing tr:nth-child(odd) td {
	background:#ECECEC;
	}
table.listing .white td {
	background:#fff;
	}	
table.listing th:first-child, table.listing td:first-child {border-left:0px solid #9097A9;text-align:left;}
table.listing th:last-child, table.listing td:last-child {border-right:0px solid #9097A9;}

table.listing th:first-child {
	width: 15px;
	border-left:0;
	}

table.listing .style1 {font-weight:bold;color:#43729F;}
table.listing .style2 {font-weight:bold;padding-left:16px;}
table.listing .style3 {padding-left:25px;}
table.listing .style4 {padding-left:35px;}
table.form td:last-child {padding:1px 0 1px 5px;text-align:left;}
table.form th,
table.form td {padding-left:10px;}
table.form input.text {width:262px}

/* table select */
div.table .select {
	float:right;
	margin:2px 1px 0 0;
	width:380px;
	height:55px;
	background:#9097A9;
	color:#fff;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	-moz-border-radius-bottomleft: 8px;
	-moz-border-radius-bottomright: 8px;
	-webkit-border-bottom-left-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	}
div.table .select strong {
	float:left;
	padding:5px 0 0 5px;
	}	
div.table .select select {
	float:right;
	width:78px;
	margin:2px 3px 0 0;
	text-align:right;	
	}
	
/* right column header */
#quick-info .h {
	float:left;
	background:#7E878A;
	border:1px solid #B8B8B8;
	border-bottom:0;
	padding:3px 10px;
	color:#fff;
	text-transform:uppercase;
	}
/* right column box */
#quick-info .box {
	float:left;
	width:139px;
	padding:5px;
	border:1px solid #B8B8B8;
	background:#EBEBEB;
	margin:0 0 5px 0;
	}
	
/* right column buttons */
.buttons {
	clear:both;
	text-align:center;
	padding:30px 0 15px 0;
	}
.buttons input {margin:0 0 6px 0;}

#flashMessage, #authMessage {
    float: right;
    clear: left;
    margin: 0px;
    margin-top: 2px;
}

.input {
    float:left;
    clear: both;
    margin-bottom: 5px;
}

.input.text.required.error {
    width:100%;
}    

.input input {
    float: right;
    display: block;    
}
.input label {
    margin-top: 4px;
    float: left;
    display: block;
    width: 90px;
    font-weight: bold;
}

.input input {
    float: left;
    display: block;    
}

.error-message {
    float:left;
    width: auto;
    margin-top: 2px;
    margin-left: 10px;
    color: red;
    font-weight: bold;
    padding: 2px;
}

textarea {
    float: left;
    display: block;        
}

select {
    float: left;
    display: block;        
}
.submit {
    height: 50px;
}
.submit input[type=submit]{
    width: 120px;
    height: 34px;
    position: relative;
    margin-top: 3px;
    padding: 9px;
    background-color: #43729F;
    display: inline-block;
    color: white;
    cursor: pointer;
    text-align: center;
    font: 14px/100% Arial, Helvetica, sans-serif;
    -moz-border-radius: 5px;
    border-radius: 5px;
    float: left;
    text-decoration: none;    
}

.submit input[type=submit]:hover {
    /*background-color: #80b0da;*/
    text-decoration: underline;
}

table.listing td.action_col {
    width: 50px;
    text-align: center;
}

legend {
    font-size: 11pt;
}

dl dt {
    width: 100px;
    float: left;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom-style: dashed;
    border-bottom-width: thin;
    clear: both;
}

dl dd {
    width: 600px;
    float: right;
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom-style: dashed;
    border-bottom-width: thin;    
}

dl dt .altrow {
    background-color: #80b0da;
}
.related {
    margin-bottom: 20px;
}

.related table {
    width: 100%;
}
.related table td,
table th {
	border:1px solid #666;
	text-align:center;      
        padding: 2px;
}
.input img {
    float: left;
}

span.floatleft {
    padding-left: 10px;
}

.related table.listing th:first-child, table.listing td:first-child {
    /* width: auto; */
    text-align: center;
    padding-left: 10px;
}

.info-msg, .success-msg, .warning-msg, .error-msg, .validation-msg, .message {
    border: 1px solid;
    margin: 10px 0px;
    padding:15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
    float:left;
    position: relative;
}
.info-msg, .message  {
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('../img/info.png');
}
.success-msg {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image:url('../img/success.png');
}
.warning-msg {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('../img/warning.png');
}
.error-msg {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('../img/error.png');
}

table tr th a {
	padding-right: 16px;
}
table tr th a.asc {
	background: url(../img/sort-asc.png) no-repeat right center;
}
table tr th a.desc {
	background: url(../img/sort-desc.png) no-repeat right center;
}

.select-bar label {
    font-weight: bold;
}
.select-bar input {
    margin-left: 5px;
}

.related h3 {
    display: block;
    font-size: 1.5em;
    font-weight: 700;
    margin-bottom: 0.83em;
    margin-top: 0.83em;
}

.related table.listing th:first-child, table.listing td:first-child { 
text-align: left;
 }

.tbl-col-1 { width: 5%; }
.tbl-col-2 { width: 20%; }
.tbl-col-3 { width: 20%; }
.tbl-col-4 { width: 20%; }
.tbl-col-5 { width: 20%;}
.tbl-col-5a { width: 10%; }
.tbl-col-5b { width: 10%; }

th.actions {
    width: 18%;
}

table.view {
    border: none;
    border-spacing: 10px;
}
table.view td {
    background-color: transparent;
    height: 30px;
    border-bottom-style: dashed;
    border-bottom-width: thin;
    vertical-align: bottom;
}

table.view th {
    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
    border: none;
    text-align: left;
}